{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "optimizeForSpeed": false
        }
      }
    ]
  ],
  "plugins": ["transform-inline-environment-variables", "graphql-tag"]
}
